### Libaray Requirements

In [2]:
import os
import glob
import pandas as pd
import pytz
from pytz import timezone
import matplotlib.dates as mdates
xformatter = mdates.DateFormatter('%H:%M')
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy import create_engine

C:\Users\EEstaff\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

### 1. NP Solar Data Processing

In [ ]:
df1 = pd.read_csv("C:/Users/EEstaff/Desktop/NPPVData(2021-2023)/sampled_data/AllCombined(2021-cleaned).csv")
df2 = pd.read_csv("C:/Users/EEstaff/Desktop/NPPVData(2021-2023)/sampled_data/AllCombined(2022-cleaned).csv")
df3 = pd.read_csv("C:/Users/EEstaff/Desktop/NPPVData(2021-2023)/sampled_data/AllCombined(2023-cleaned).csv")

df1['Date and Time'] = pd.to_datetime(df1['Date and Time'], format='%d/%m/%Y %H:%M')
df2['Date and Time'] = pd.to_datetime(df2['Date and Time'], format='%d/%m/%Y %H:%M')
df3['Date and Time'] = pd.to_datetime(df3['Date and Time'], format='%d/%m/%Y %H:%M')

combined_df = pd.concat([df1, df2, df3])
sorted_df = combined_df.sort_values(by='Date and Time')
df = sorted_df.reset_index(drop=True)

# Create SQLAlchemy engine
engine = create_engine('mysql+pymysql://root:password@localhost:3306/np_solar_data')

# Write DataFrame to MySQL
df.to_sql('pv_plants', con=engine, if_exists='replace', index=False)

### 2. Clementi Weather Data Processing*

In [ ]:
# Set the directory where your CSV files are located
directory = "C:/Users/EEstaff/Desktop/NPPVData(2021-2023)/weather (www.weather.gov.sgclimate-historical-daily)"

# Use glob to match the pattern of your CSV files
all_files = glob.glob(os.path.join(directory, "*.csv"))

# List to hold dataframes
dfs = []

# Read each CSV file and append to the list
for file in all_files:
    df = pd.read_csv(file)
    dfs.append(df)

# Combine all dataframes into a single dataframe
combined_df = pd.concat(dfs, ignore_index=True)
combined_df['Date'] = pd.to_datetime(combined_df[['Year', 'Month', 'Day']])

# Rearrange so that 'date' is the first column
cols = combined_df.columns.tolist()  # ['year', 'month', 'day', 'date']
cols = [cols[-1]] + cols[:-1]  # ['date', 'year', 'month', 'day']

# Reindex the DataFrame with the new column order
combined_df = combined_df[cols]

# List of columns to convert
columns_to_convert = ['Daily Rainfall Total (mm)',
                    'Highest 30 min Rainfall (mm)',
                    'Highest 60 min Rainfall (mm)',
                    'Highest 120 min Rainfall (mm)',
                    'Mean Temperature (°C)',
                    'Maximum Temperature (°C)',
                    'Minimum Temperature (°C)',
                    'Mean Wind Speed (km/h)',
                    'Max Wind Speed (km/h)']

# Convert each column to float
for column in columns_to_convert:
    combined_df[column] = pd.to_numeric(combined_df[column], errors='coerce')

combined_df.info()

In [ ]:
# Dropping a column in place
combined_df.drop('Station', axis=1, inplace=True)

# Fill NaN with the mean of the column
df_cleaned = combined_df.fillna(combined_df.mean())
df_cleaned.isna().sum()

In [11]:
# Exporting the DataFrame to a CSV file
output_file_path = 'C:/Users/EEstaff/Desktop/NPPVData(2021-2023)/AllCombined-Weather(2021-2023).csv'
df_cleaned.to_csv(output_file_path, index=False)

# Create SQLAlchemy engine
engine = create_engine('mysql+pymysql://root:password@localhost:3306/np_solar_data')

# Write DataFrame to MySQL
df_cleaned.to_sql('clementi_daily_weather', con=engine, if_exists='replace', index=False)

1064

### 3. NP Weather Data Processing

In [5]:
# weather data
df = pd.read_csv("C:/Users/EEstaff/Desktop/NPPVData(2021-2023)/sampled_data/(1979-2023) NP-Weather-Data.csv")
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401072 entries, 0 to 401071
Data columns (total 28 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt                   401072 non-null  int64
 1   dt_iso               401072 non-null  object
 2   timezone             401072 non-null  int64
 3   city_name            401072 non-null  object
 4   lat                  401072 non-null  float64
 5   lon                  401072 non-null  float64
 6   temp                 401072 non-null  float64
 7   visibility           198687 non-null  float64
 8   dew_point            401072 non-null  float64
 9   feels_like           401072 non-null  float64
 10  temp_min             401072 non-null  float64
 11  temp_max             401072 non-null  float64
 12  pressure             401072 non-null  int64
 13  sea_level            0 non-null       float64
 14  grnd_level           0 non-null       float64
 15  humidity             401072 non-null  int64
 16  wind_speed           401072 non-null  float64
 17  wind_deg             401072 non-null  int64
 18  wind_gust            6239 non-null    float64
 19  rain_1h              149939 non-null  float64
 20  rain_3h              605 non-null     float64
 21  snow_1h              0 non-null       float64
 22  snow_3h              0 non-null       float64
 23  clouds_all           401072 non-null  int64
 24  weather_id           401072 non-null  int64
 25  weather_main         401072 non-null  object
 26  weather_description  401072 non-null  object
 27  weather_icon         401072 non-null  object
dtypes: float64(16), int64(7), object(5)
memory usage: 85.7+ MB

dt                          0
dt_iso                      0
timezone                    0
city_name                   0
lat                         0
lon                         0
temp                        0
visibility             202385
dew_point                   0
feels_like                  0
temp_min                    0
temp_max                    0
pressure                    0
sea_level              401072
grnd_level             401072
humidity                    0
wind_speed                  0
wind_deg                    0
wind_gust              394833
rain_1h                251133
rain_3h                400467
snow_1h                401072
snow_3h                401072
clouds_all                  0
weather_id                  0
weather_main                0
weather_description         0
weather_icon                0
dtype: int64

In [6]:
# List of columns to drop
columns_to_drop = ['dew_point', 'feels_like', 'sea_level', 'grnd_level', 'wind_gust', 'snow_1h', 'snow_3h', 'weather_id', 'weather_icon']

# Drop the specified columns
df.drop(columns=columns_to_drop, inplace=True)

df['visibility'].fillna(df['visibility'].mean(), inplace=True)
df['rain_1h'].fillna(0, inplace=True)
df['rain_3h'].fillna(0, inplace=True)

Singapore = timezone('Asia/Singapore')
df.index = pd.to_datetime(df['dt'], unit='s')
df.index = df.index.tz_localize(pytz.utc).tz_convert(Singapore)
columns_to_drop = ['dt', 'dt_iso', 'timezone']
df.drop(columns=columns_to_drop, inplace=True)
df.head(5)

,city_name,lat,lon,temp,visibility,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,clouds_all,weather_main,weather_description
dt,,,,,,,,,,,,,,,,
1979-01-01 07:30:00+07:30,Ngee Ann Polytechnic,1.333086,103.775937,24.17,8000.0,23.24,24.97,1011,88,1.0,360,0.0,0.0,40,Haze,haze
1979-01-01 07:30:00+07:30,Ngee Ann Polytechnic,1.333086,103.775937,24.17,8000.0,23.24,24.97,1011,88,1.0,360,0.0,0.0,40,Mist,mist
1979-01-01 08:30:00+07:30,Ngee Ann Polytechnic,1.333086,103.775937,24.06,8000.0,23.02,25.04,1011,88,1.0,360,0.0,0.0,40,Haze,haze
1979-01-01 09:30:00+07:30,Ngee Ann Polytechnic,1.333086,103.775937,25.70,10000.0,25.21,26.25,1012,83,3.6,360,0.0,0.0,40,Haze,haze
1979-01-01 10:30:00+07:30,Ngee Ann Polytechnic,1.333086,103.775937,25.96,10000.0,25.45,26.90,1012,83,3.0,350,0.0,0.0,40,Haze,haze

In [7]:
# Create more fields related to datetime for machine learning
df['MonthOfYear'] = df.index.strftime('%m').astype(int)
df['DayOfYear'] = df.index.strftime('%j').astype(int)
df['WeekOfYear'] = df.index.strftime('%U').astype(int)
df['Hour'] = df.index.hour
df['Month'] = df.index.month
df['Date'] = df.index.date

# Sample DataFrame with a datetime column
data = {'Date': pd.date_range('2020-01-01', '2024-12-31')}
df_sampled = pd.DataFrame(data)

# Set 'date_column' as the index (if not already)
df_sampled.set_index('Date', inplace=True)

# Select rows from the first day of 2021 to the last day of 2023
start_date = '2021-01-01'
end_date = '2023-12-31'
df_selected = df.loc[start_date:end_date]
df_selected.head(5)

,city_name,lat,lon,temp,visibility,temp_min,temp_max,pressure,humidity,wind_speed,...,rain_3h,clouds_all,weather_main,weather_description,MonthOfYear,DayOfYear,WeekOfYear,Hour,Month,Date
dt,,,,,,,,,,,,,,,,,,,,,
2021-01-01 00:00:00+08:00,Ngee Ann Polytechnic,1.333086,103.775937,26.11,10000.0,23.85,26.90,1010,81,5.7,...,0.0,40,Clouds,scattered clouds,1,1,0,0,1,2021-01-01
2021-01-01 01:00:00+08:00,Ngee Ann Polytechnic,1.333086,103.775937,25.58,10000.0,23.29,25.90,1010,80,5.1,...,0.0,75,Clouds,broken clouds,1,1,0,1,1,2021-01-01
2021-01-01 02:00:00+08:00,Ngee Ann Polytechnic,1.333086,103.775937,25.11,10000.0,23.29,25.90,1010,78,5.7,...,0.0,75,Clouds,broken clouds,1,1,0,2,1,2021-01-01
2021-01-01 03:00:00+08:00,Ngee Ann Polytechnic,1.333086,103.775937,24.42,10000.0,23.75,25.02,1009,83,4.6,...,0.0,75,Rain,light rain,1,1,0,3,1,2021-01-01
2021-01-01 04:00:00+08:00,Ngee Ann Polytechnic,1.333086,103.775937,24.39,10000.0,22.74,25.02,1008,83,3.6,...,0.0,75,Rain,light rain,1,1,0,4,1,2021-01-01

In [30]:
# Create a SQLAlchemy engine
engine = create_engine(f'mysql+mysqlconnector://root:password@localhost:3306/np_solar_data')

# Write the DataFrame to MySQL
df_selected.to_sql('np_weather', con=engine, if_exists='replace', index=True)

26824

### 4. Combine useful data into one database

In [15]:
# Create a SQLAlchemy engine
engine = create_engine(f'mysql+mysqlconnector://root:password@localhost:3306/np_solar_data')

# Use pandas to read the SQL table into a DataFrame
df1 = pd.read_sql_table('np_weather', engine)
df2 = pd.read_sql_table('pv_plants', engine)

# Extracting multiple columns from df1
selected_columns_df1 = df1[['Datetime', 'temp', 'pressure', 'humidity', 'weather_main']]

# Merge DataFrames based on 'Datetime' column
df = pd.merge(df2, selected_columns_df1, on='Datetime', how='inner')

# Extracting date, hour, month, day of the year, and week of the year for machine learning
df['Date'] = df['Datetime'].dt.date
df['Hour'] = df['Datetime'].dt.hour
df['Month'] = df['Datetime'].dt.month
df['DayOfYear'] = df['Datetime'].dt.dayofyear
df['WeekOfYear'] = df['Datetime'].dt.isocalendar().week

# Create a SQLAlchemy engine
engine = create_engine(f'mysql+mysqlconnector://root:password@localhost:3306/np_solar_data')

# Write the DataFrame to MySQL
df.to_sql('np_plants_combined', con=engine, if_exists='replace', index=True)

334945